h1 {
	text-align: center;
}
.prompt {
	text-align: center;
}
.play0 {
	display: inline-block;
	width: 45%;
	height: 400px;
	left: 5%;
	margin: 3% 2%;
}

.play1 {
	display: inline-block;
	width: 45%;
	height: 400px;
	margin: 3% 2%
}

.btn-container, .play0result, .play1result {
	display: inline-block;
	width: 45%;
	text-align: center;
	margin: 1%
}

.playName {
	display: block;
	text-align: center;
}

.CodeMirror.cm-s-default {
	display: inline-block;
	width: 45%;
	border: 1px solid black;
	margin: 2%;
}

.handle {
	display: inline-block;
	width: 45%;
	margin-top: 1%;
}