<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'/>
    <title>BattleCode</title>
    s<link href="styles.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' type="text/css" href='./codeMirrorSimple/codemirror.css'>
    <script src='./lib/jquery/dist/jquery.min.js'></script>
    <script src='./lib/lodash/dist/lodash.min.js'></script>
    <script src='./lib/socket.io-client/socket.io.js'></script>
    <script src='./codeMirrorSimple/codemirror.js'></script>
    <script src='./codeMirrorSimple/javascript.js'></script>
  </head>

  <body>
    <h1>Test</h1>
    <%- body %>
   


    <script src='./app.js'></script>

 

<!--    <script src='./codeMirror/util.js'></script>
    <script src='./codeMirror/codemirror.js'></script>
    <script src='./codeMirror/editor.js'></script>
    <script src='./codeMirror/mirrorframe.js'></script>
    <script src='./codeMirror/jscolors.css'></script>-->


  </body>
</html>